# AL Project Templates for Dynamics 365 Business Central
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

# Ignore Visual Studio folders
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Others
*.log
